<nav>
    <button mat-button color="primary" [matMenuTriggerFor]="moviesMenu"><a>Movies</a></button>
    <mat-menu #moviesMenu="matMenu">
        <button mat-menu-item routerLink="movies">Search</button>
        <button mat-menu-item routerLink="movies/popular">Top 10</button>
    </mat-menu>
    <button mat-button color="primary" [matMenuTriggerFor]="tvMenu"><a>TV Shows</a></button>
    <mat-menu #tvMenu="matMenu">
        <button mat-menu-item routerLink="tv-shows">Search</button>
        <button mat-menu-item routerLink="tv-shows/popular">Top 10</button>
    </mat-menu>

    <button mat-button color="primary" (click)="setup()" id="setup">
        <mat-icon>settings</mat-icon>
    </button>
    <p color="primary">nx-movies🎥🐱‍🏍</p>
</nav>
<div class="spacer"></div>