nav {
    display: flex;
    background-color: var(--accent);
    color: var(--primary);
    justify-content: flex-start;
}
nav button {
    height: 70px;
    color: var(--primary);
    a,
    .mat-icon {
        text-decoration: none;
        background-image: linear-gradient(var(--primary), var(--primary));
        background-size: 0% 2em;
        background-position-y: 100%;
        background-position-x: 0%;
        background-repeat: no-repeat;
        transition: background-size 0.2s ease-in-out;
        padding: 4px;
    }
}
nav button:hover,
nav button:focus {
    a,
    .mat-icon {
        background-size: 100% 2em;
        color: var(--accent);
    }
}
nav p {
    margin: 0px 2vw 0px 0px;
    padding: 0px;
    border: 0px;
    line-height: 70px;
    font-size: x-large;
    margin-left: auto;
}
nav p:hover::before {
    content: '🚌...';
}
.spacer {
    width: 100%;
    height: 10px;
}