<div class="contentWrapper">
    <div class="flexColumn">
        <form class="flexRow" [formGroup]="searchForm">
            <mat-form-field appearance="standard" color="accent">
                <mat-label>Search...</mat-label>
                <input matInput type="text" formControlName="search">
            </mat-form-field>
            <button mat-button type="submit" color="accent" (click)="search()">
                <mat-icon>search</mat-icon>
            </button>
        </form>
        <div class="movies">
            <div *ngFor="let movie of movies">
                <div class="movie">
                    <div class="info">
                        <img [src]="movie.backdrop_path" alt="backdrop">
                        <p>{{ movie.title }}</p>
                        <p class="overview">{{ movie.overview }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>