html,
body {
    height: 100%;
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    border: 0px;
    background-color: var(--primary);
}
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}
.contentWrapper {
    width: 95%;
    margin: auto;
    padding-bottom: 3em;
}
.contentWrapper form {
    padding: 0.5em;
    background-color: var(--primary);
    border-radius: 5px;
    margin-bottom: 1em;
    margin-top: 1em;
    color: var(--primaryContrast);
}
.flexColumn {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.flexRow {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
.tile-grid {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, minmax(100px, 400px));
    grid-column-gap: 1em;
    grid-row-gap: 1em;
}